PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/fashion-store
JWT_SECRET=your_super_secret_jwt_key_change_this

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_mailtrap_user
SMTP_PASS=your_mailtrap_pass
